<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="{{ path }}" id="navbar{{ dropDownId }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ label }}
    </a>
    {{ subnavContent | raw }}
</li>
